<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    /* Left column: Navigation menu */
    .nav-buttons {
        margin-bottom: 20px;
    }
    .nav-buttons a {
        display: block;
        margin: 10px 0;
        text-decoration: none;
    }
</style>
<body>
<div class="col-md-3">
    <div class="nav-buttons">
        <a href="/user/profile" class="btn btn-primary">
            <i class="fas fa-user-edit"></i> thông tin cá nhân
        </a>
        <a href="/user/profile/update" class="btn btn-primary">
            <i class="fas fa-user-edit"></i> Thay đổi thông tin
        </a>
        <a href="/user/change-password" class="btn btn-warning">
            <i class="fas fa-key"></i> Đổi mật khẩu
        </a>
        <a href="/user/dat-ban/me" class="btn btn-success">
            <i class="fas fa-calendar-alt"></i> Danh sách đặt bàn
        </a>
        <a href="/user/order/me" class="btn btn-info">
             Danh sách thanh toán
        </a>
    </div>
</div>
</body>
</html>